// colors
$primaryColor: #5776ff;
$primaryColorLight: #81a0ff;
$secondaryColor: #ff1313;
$lightText: #fefefe;

// typography
$fontLg: 20px;
$fontMd: 16px;
$fontSm: 14px;
$fontXs: 12px;

// spacing
$spaceMd: 10px;
$spaceSm: 5px;
